In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso, Ridge, ElasticNet
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
data = pd.read_csv('communities.csv', header=None, na_values=['?'])
data.head()

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,8,NaN,NaN,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,...,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14,0.20
1,53,NaN,NaN,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,NaN,NaN,NaN,NaN,0.00,NaN,0.67
2,24,NaN,NaN,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,NaN,NaN,NaN,NaN,0.00,NaN,0.43
3,34,5.0,81440.0,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,NaN,NaN,NaN,NaN,0.00,NaN,0.12
4,42,95.0,6096.0,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,NaN,NaN,NaN,NaN,0.00,NaN,0.03

In [17]:
datac = data.dropna(axis='columns')
datac.head()

,0,3,4,5,6,7,8,9,10,11,...,96,97,98,99,100,118,119,120,125,127
0,8,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,0.17,0.34,...,0.12,0.42,0.50,0.51,0.64,0.12,0.26,0.20,0.32,0.20
1,53,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,0.07,0.26,...,0.21,0.50,0.34,0.60,0.52,0.02,0.12,0.45,0.00,0.67
2,24,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,0.04,0.39,...,0.14,0.49,0.54,0.67,0.56,0.01,0.21,0.02,0.00,0.43
3,34,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,0.10,0.51,...,0.19,0.30,0.73,0.64,0.65,0.02,0.39,0.28,0.00,0.12
4,42,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,0.05,0.38,...,0.11,0.72,0.64,0.61,0.53,0.04,0.09,0.02,0.00,0.03

In [25]:
datac0 = datac.rename(columns={0: 'col'})
datac0

,col,3,4,5,6,7,8,9,10,11,...,96,97,98,99,100,118,119,120,125,127
0,8,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,0.17,0.34,...,0.12,0.42,0.50,0.51,0.64,0.12,0.26,0.20,0.32,0.20
1,53,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,0.07,0.26,...,0.21,0.50,0.34,0.60,0.52,0.02,0.12,0.45,0.00,0.67
2,24,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,0.04,0.39,...,0.14,0.49,0.54,0.67,0.56,0.01,0.21,0.02,0.00,0.43
3,34,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,0.10,0.51,...,0.19,0.30,0.73,0.64,0.65,0.02,0.39,0.28,0.00,0.12
4,42,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,0.05,0.38,...,0.11,0.72,0.64,0.61,0.53,0.04,0.09,0.02,0.00,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,12,TempleTerracecity,10,0.01,0.40,0.10,0.87,0.12,0.16,0.43,...,0.22,0.28,0.34,0.48,0.39,0.01,0.28,0.05,0.00,0.09
1990,6,Seasidecity,10,0.05,0.96,0.46,0.28,0.83,0.32,0.69,...,0.53,0.25,0.17,0.10,0.00,0.02,0.37,0.20,0.00,0.45
1991,9,Waterburytown,10,0.16,0.37,0.25,0.69,0.04,0.25,0.35,...,0.25,0.68,0.61,0.79,0.76,0.08,0.32,0.18,0.91,0.23
1992,25,Walthamcity,10,0.08,0.51,0.06,0.87,0.22,0.10,0.58,...,0.45,0.64,0.54,0.59,0.52,0.03,0.38,0.33,0.22,0.19
1993,6,Ontariocity,10,0.20,0.78,0.14,0.46,0.24,0.77,0.50,...,0.68,0.50,0.34,0.35,0.68,0.11,0.30,0.05,1.00,0.48

In [26]:
y = datac0['col']
datac0 = datac0.drop(columns='col')
numeric_cols = [cname for cname in datac0.columns if datac0[cname].dtype in ['int64', 'float64']]
X = datac0[numeric_cols]

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.7, random_state = 1)
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [28]:
print(f"Score for train set {lr.score(X_train, y_train)}")
print(f"Score for test set {lr.score(X_test, y_test)}")

Score for train set 0.5477963225576519
Score for test set 0.30816321302088157

## L1

In [29]:
lasso1 = Lasso(alpha=0.01).fit(X_train, y_train)
print(f"Score for train set {lasso1.score(X_train, y_train)}")
print(f"Score for test set {lasso1.score(X_test, y_test)}")

Score for train set 0.5194797491927977
Score for test set 0.3804771572935789

## L2

In [30]:
from sklearn.linear_model import Ridge
ridge = Ridge(alpha=20).fit(X_train, y_train)
print(f"Score for train set {ridge.score(X_train, y_train)}")
print(f"Score for test set {ridge.score(X_test, y_test)}")

Score for train set 0.39788330328389465
Score for test set 0.3562909011157044

## L1 + L2

In [31]:
from sklearn.linear_model import ElasticNet
eklastic = ElasticNet(alpha=0.01, l1_ratio=0.01).fit(X_train, y_train)
print(f"Score for train set {eklastic.score(X_train, y_train)}")
print(f"Score for test set {eklastic.score(X_test, y_test)}")

Score for train set 0.4555631721997174
Score for test set 0.38845205025534923