In [3]:
import pandas as pd

**task1**

In [9]:
xls = pd.read_excel('students039.xlsx')
xls

,Ім'я та прізвище,Середній бал,Оцінка за поточний екзамен,К-ть спроб здачі поточного екзамену
0,Олег Батюта,75,73,3
1,Роман Кіріленко,59,60,5
2,Арсеній Семенюк,90,95,1
3,Олексндра Шайна,88,90,1
4,Андрій Дудко,82,81,1
5,Іван Байда,73,75,2
6,Давід Лінченко,78,83,2
7,Дарина Хижа,81,78,1
8,Антон Сопраненко,70,76,4
9,Данило Макгіленко,80,79,2
10,Евгеній Рожевий,58,65,3
11,Володимр Білий,89,90,1
12,Даніїл Слизько,82,80,1
13,Олександр Мустич,77,73,1
14,Іван Бичок,79,86,1

**task2**

In [55]:
a = xls['Середній бал']
values = []
for i in a:
    if i >= 60:
        values.append('Пройшов')
    else:
        values.append('Не пройшов')
        
xls['Допуск'] = values
xls

,Ім'я та прізвище,Середній бал,Оцінка за поточний екзамен,К-ть спроб здачі поточного екзамену,Допуск
0,Олег Батюта,75,73,3,Пройшов
1,Роман Кіріленко,59,60,5,Не пройшов
2,Арсеній Семенюк,90,95,1,Пройшов
3,Олексндра Шайна,88,90,1,Пройшов
4,Андрій Дудко,82,81,1,Пройшов
5,Іван Байда,73,75,2,Пройшов
6,Давід Лінченко,78,83,2,Пройшов
7,Дарина Хижа,81,78,1,Пройшов
8,Антон Сопраненко,70,76,4,Пройшов
9,Данило Макгіленко,80,79,2,Пройшов
10,Евгеній Рожевий,58,65,3,Не пройшов
11,Володимр Білий,89,90,1,Пройшов
12,Даніїл Слизько,82,80,1,Пройшов
13,Олександр Мустич,77,73,1,Пройшов
14,Іван Бичок,79,86,1,Пройшов

**task3**

In [69]:
xls['Середній бал'].agg(['max','min','mean','median'])

max       90.0
min       58.0
mean      77.4
median    79.0
Name: Середній бал, dtype: float64

**task4**

In [90]:
b = xls['К-ть спроб здачі поточного екзамену']
c = 0 
for i in b:
    if i == 1:
        c+=1
print(c)

8

**task5**

In [89]:
xls2 = xls.drop(columns='Допуск')
xls3 = xls2.drop(columns='К-ть спроб здачі поточного екзамену')
series = xls3.drop(columns='Оцінка за поточний екзамен')
series

     Ім'я та прізвище
0         Олег Батюта
1     Роман Кіріленко
2     Арсеній Семенюк
3     Олексндра Шайна
4        Андрій Дудко
5          Іван Байда
6      Давід Лінченко
7         Дарина Хижа
8    Антон Сопраненко
9   Данило Макгіленко
10    Евгеній Рожевий
11     Володимр Білий
12     Даніїл Слизько
13   Олександр Мустич
14         Іван Бичок